In [32]:
#Creating dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import widgets, interactive

In [33]:
#Read the file
data_country_to_load = "Resources/country_vaccinations_by_manufacturer.csv"
data_country = pd.read_csv(data_country_to_load,sep=',')
data_country_df = pd.DataFrame(data_country)
data_country_df.columns
# list(data_country.columns)
data_country_df

     location        date             vaccine  total_vaccinations
0     Austria  2021-01-08     Johnson&Johnson                   0
1     Austria  2021-01-08             Moderna                   0
2     Austria  2021-01-08  Oxford/AstraZeneca                   0
3     Austria  2021-01-08     Pfizer/BioNTech               30938
4     Austria  2021-01-15     Johnson&Johnson                   0
...       ...         ...                 ...                 ...
8633  Uruguay  2021-07-05     Pfizer/BioNTech             1024793
8634  Uruguay  2021-07-05             Sinovac             3045997
8635  Uruguay  2021-07-06  Oxford/AstraZeneca               43245
8636  Uruguay  2021-07-06     Pfizer/BioNTech             1038942
8637  Uruguay  2021-07-06             Sinovac             3079853

[8638 rows x 4 columns]

In [34]:
#type of vaccines
diff_vaccines = data_country_df["vaccine"].unique()
diff_vaccines_df = pd.DataFrame({"Type of Vaccines" : diff_vaccines})
diff_vaccines_df

     Type of Vaccines
0     Johnson&Johnson
1             Moderna
2  Oxford/AstraZeneca
3     Pfizer/BioNTech
4             Sinovac
5             CanSino
6           Sputnik V
7   Sinopharm/Beijing

In [35]:
#List of countries

diff_country = data_country_df["location"].unique()
# diff_country_df = pd.DataFrame({"Country" : diff_country})
diff_country

array(['Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands',
       'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'United States', 'Uruguay'], dtype=object)

In [36]:
# Vaccinations administered by Country
vaccine_by_country = data_country_df.groupby(["location", "vaccine"])["total_vaccinations"].sum()
vaccine_by_country_df = pd.DataFrame(vaccine_by_country )
# vaccine_by_country_df.rename(columns={'location': 'Country', "vaccine": "Vaccine", "total_vaccinations":"Total Vaccinations" },inplace = False)
vaccines_by_country_df

                                  total_vaccinations
location      vaccine
Austria       Johnson&Johnson                 669299
              Moderna                        7358459
              Oxford/AstraZeneca            15004704
              Pfizer/BioNTech               57728406
Belgium       Johnson&Johnson                1410064
...                                              ...
United States Moderna                    13040282922
              Pfizer/BioNTech            15980059866
Uruguay       Oxford/AstraZeneca             3387005
              Pfizer/BioNTech               56535409
              Sinovac                      185879252

[126 rows x 1 columns]

In [37]:
#vaccination percentage by country
vaccines_by_country = data_country_df.groupby("location")["total_vaccinations"].sum()
total_vaccines_by_country_df = pd.DataFrame({"Total no. of Vaccinations": vaccines_by_country})
total_vaccines_by_country_df

               Total no. of Vaccinations
location
Austria                         80760868
Belgium                        106720683
Bulgaria                        19937138
Chile                         1927030254
Croatia                         26459294
Cyprus                           7398261
Czechia                        514787985
Denmark                         48812161
Estonia                         10152037
Finland                         46428753
France                        3439868197
Germany                       4646761432
Hungary                        114126346
Iceland                         24739623
Ireland                         43130261
Italy                         3247420655
Japan                         1493961912
Latvia                          67106019
Liechtenstein                     270484
Lithuania                      155492336
Luxembourg                       5375383
Malta                            7058939
Netherlands                    152252188
Poland                         308738674
Portugal                        80649414
Romania                        740387826
Slovakia                        39644704
Slovenia                        13298552
Spain                          379882979
Sweden                          77810649
Switzerland                    452876103
United States                29954179718
Uruguay                        245801666

In [41]:
#Bar plot graph for countries
location = widgets.Dropdown(
    options=['All'] + list(data_country_df["location"].unique()),
    value='All',
    description='Country:',
)

vaccine = widgets.Dropdown(
    options=['All'] + list(data_country_df["vaccine"].unique()),
    value='All',
    description='Vaccines:',
)

def plotit(location, vaccine):
    vaccine_by_country_df.plot(kind='bar',  title="Country = {}".format(country))
    vaccine_by_country.unstack().plot(kind='bar', stacked=True,figsize=(30,10), title="Country:".format(Country))
plt.show();

interactive(plotit, location=location)

# def plot_bars(location):
#     vaccine_by_country_df.query('location == @location').plot.bar(x='Vaccines', y='Total vaccinations')

# widgets.interact(plot_bars, location=widgets.Dropdown(value='Austria', options=vaccine_by_country_df.location.unique()))

# df2 = data_country_df.pivot(index='vaccine', columns='location').fillna(0).astype(int)['total_vaccinations']

# country=widgets.Dropdown(value='Austria', options=list(data_country_df["location"].unique()))

# def plot_bars(country):
#     ax = df2[country].plot.bar()
#     ax.set_ylim(ymax=df2.max().max()*1.1)
    

# interactive(plot_bars, country=widgets.Dropdown(value='Austria', options=list(data_country_df["location"].unique())))

ValueError: cannot find widget or abbreviation for argument: 'vaccine'

In [44]:
# Vaccinations administered by Date
vaccine_by_date = data_country_df.groupby(["date","location","vaccine"])["total_vaccinations"].sum()
vaccine_by_date

date        location  vaccine
2020-12-04  Latvia    Moderna                     1
2020-12-16  Latvia    Pfizer/BioNTech             1
2020-12-20  Latvia    Moderna                     4
2020-12-22  Latvia    Pfizer/BioNTech             3
2020-12-24  Chile     Pfizer/BioNTech           420
                                             ...
2021-07-06  Slovakia  Pfizer/BioNTech       2523899
                      Sputnik V               18579
            Uruguay   Oxford/AstraZeneca      43245
                      Pfizer/BioNTech       1038942
                      Sinovac               3079853
Name: total_vaccinations, Length: 8638, dtype: int64