In [2]:
#Creating dependencies
import pandas as pd
import numpy as np

In [3]:
#Read the file
data_country_to_load = "Resources/country_vaccinations_by_manufacturer.csv"
data_country = pd.read_csv(data_country_to_load,sep=',')
new_header = data_country.iloc[1]
# data_country_df = pd.DataFrame(data_country)
data_country = data_country[2:]
data_country.columns
# list(data_country.columns)

Index(['location', 'date', 'vaccine', 'total_vaccinations'], dtype='object')

In [14]:
# # Creating a dataframe for random countries
 preferred_country = ['Austria','Belgium','Czechia','Denmark','France','Germany','Italy','Japan','Netherlands','United States']
for country in preferred_country:
   print(country)

IndentationError: unexpected indent (<ipython-input-14-86c37868b09a>, line 2)

In [12]:
vaccine_by_country = data_country.groupby(['location'])['total_vaccinations'].mean().to_frame().reset_index()
vaccine_by_country

         location  total_vaccinations
0         Austria        7.618950e+05
1         Belgium        1.212735e+06
2        Bulgaria        2.190894e+05
3           Chile        4.253930e+06
4         Croatia        2.672656e+05
5          Cyprus        9.247826e+04
6         Czechia        8.740034e+05
7         Denmark        6.178755e+05
8         Estonia        1.194357e+05
9         Finland        4.182771e+05
10         France        5.850116e+06
11        Germany        6.082148e+06
12        Hungary        8.916121e+05
13        Iceland        3.238171e+04
14        Ireland        4.588326e+05
15          Italy        5.323640e+06
16          Japan        9.054315e+06
17         Latvia        1.157000e+05
18  Liechtenstein        6.440095e+03
19      Lithuania        2.595865e+05
20     Luxembourg        5.842808e+04
21          Malta        9.411919e+04
22    Netherlands        1.359395e+06
23         Poland        2.756595e+06
24       Portugal        8.146405e+05
25        Romania        1.368554e+06
26       Slovakia        3.637129e+05
27       Slovenia        1.727085e+05
28          Spain        3.652721e+06
29         Sweden        1.051495e+06
30    Switzerland        1.605944e+06
31  United States        6.597837e+07
32        Uruguay        6.302607e+05

In [13]:
display(data_country[data_country['location']=='Belgium'][['location', 'date', 'vaccine', 'total_vaccinations']].sort_values(by='total_vaccinations', ascending = True))

    location        date             vaccine  total_vaccinations
145  Belgium  2021-04-16     Johnson&Johnson                   0
116  Belgium  2021-02-05  Oxford/AstraZeneca                   0
109  Belgium  2021-01-15             Moderna                   9
119  Belgium  2021-02-12  Oxford/AstraZeneca                 314
152  Belgium  2021-04-30     Johnson&Johnson                2873
..       ...         ...                 ...                 ...
179  Belgium  2021-06-11     Pfizer/BioNTech             6062610
183  Belgium  2021-06-18     Pfizer/BioNTech             6778676
187  Belgium  2021-06-25     Pfizer/BioNTech             7469390
191  Belgium  2021-07-02     Pfizer/BioNTech             7972541
195  Belgium  2021-07-06     Pfizer/BioNTech             8006732

[88 rows x 4 columns]