In [2]:
#Creating dependencies
import pandas as pd
import numpy as np

In [25]:
#Read the file
data_country_to_load = "Resources/country_vaccinations_by_manufacturer.csv"
data_country = pd.read_csv(data_country_to_load,sep=',')
data_country_df = pd.DataFrame(data_country)
data_country_df

     location        date             vaccine  total_vaccinations
0     Austria  2021-01-08     Johnson&Johnson                   0
1     Austria  2021-01-08             Moderna                   0
2     Austria  2021-01-08  Oxford/AstraZeneca                   0
3     Austria  2021-01-08     Pfizer/BioNTech               30938
4     Austria  2021-01-15     Johnson&Johnson                   0
...       ...         ...                 ...                 ...
8633  Uruguay  2021-07-05     Pfizer/BioNTech             1024793
8634  Uruguay  2021-07-05             Sinovac             3045997
8635  Uruguay  2021-07-06  Oxford/AstraZeneca               43245
8636  Uruguay  2021-07-06     Pfizer/BioNTech             1038942
8637  Uruguay  2021-07-06             Sinovac             3079853

[8638 rows x 4 columns]

In [66]:
# # Creating a dataframe for random countries
# preferred_country = ['Austria','Belgium','Czechia','Denmark','France','Germany','Italy','Japan','Netherlands','United States']
# for country in preferred_country:
#     display(data_country[data_country['location']==country][['location', 'date', 'vaccine', 'total_vaccinations']].sort_values(by='total_vaccinations', ascending = True))
vaccine_by_country = data_country.groupby(['date'])['total_vaccinations'].mean().to_frame().reset_index()
vaccine_by_country

by_vaccine = data_country.groupby(['vaccine'])['total_vaccinations'].mean().to_frame().reset_index()
by_vaccine
# display(data[data["vaccines"]=="Pfizer/BioNTech"][['country','iso_code','date','vaccines','total_vaccinations','people_vaccinated','people_fully_vaccinated','daily_vaccinations_raw','daily_vaccinations','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','daily_vaccinations_per_million','source_name']].sort_values(by="total_vaccinations", ascending= False).head(10).style.background_gradient(cmap="CMRmap_r"))

           date  total_vaccinations
0    2020-12-04        1.000000e+00
1    2020-12-16        1.000000e+00
2    2020-12-20        4.000000e+00
3    2020-12-22        3.000000e+00
4    2020-12-24        4.200000e+02
..          ...                 ...
194  2021-07-02        6.389063e+06
195  2021-07-03        1.351846e+07
196  2021-07-04        1.356880e+07
197  2021-07-05        7.041923e+06
198  2021-07-06        2.468925e+06

[199 rows x 2 columns]