In [1]:
#Creating dependencies
import pandas as pd
import numpy as np

In [4]:
#Read the file
data_country_to_load = "Resources/country_vaccinations_by_manufacturer.csv"
data_country = pd.read_csv(data_country_to_load,sep=',')
data_country_df = pd.DataFrame(data_country)
data_country_df.columns
# list(data_country.columns)

Index(['location', 'date', 'vaccine', 'total_vaccinations'], dtype='object')

In [5]:
# # Creating a dataframe for random countries
# preferred_country = ['Austria','Belgium','Czechia','Denmark','France','Germany','Italy','Japan','Netherlands','United States']
# for country in preferred_country:
#     display(data_country[data_country['location']==country][['location', 'date', 'vaccine', 'total_vaccinations']].sort_values(by='total_vaccinations', ascending = True))
# vaccine_by_country = data_country.groupby(['date'])['total_vaccinations'].mean().to_frame().reset_index()
# vaccine_by_country

vaccine_by_country = data_country.groupby(['date'])['total_vaccinations'].mean().to_frame().reset_index()
vaccine_by_country

# by_vaccine = data_country.groupby(['date', 'vaccine', 'location'])['total_vaccinations'].mean().to_frame().reset_index().head(10)
# by_vaccine

           date  total_vaccinations
0    2020-12-04        1.000000e+00
1    2020-12-16        1.000000e+00
2    2020-12-20        4.000000e+00
3    2020-12-22        3.000000e+00
4    2020-12-24        4.200000e+02
..          ...                 ...
194  2021-07-02        6.389063e+06
195  2021-07-03        1.351846e+07
196  2021-07-04        1.356880e+07
197  2021-07-05        7.041923e+06
198  2021-07-06        2.468925e+06

[199 rows x 2 columns]