In [54]:
#Importing dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
#Reading a csv file
data_file = "Resources/country_vaccinations_by_manufacturer.csv"
data_file_df = pd.read_csv(data_file)
data_file_df

     location        date             vaccine  total_vaccinations
0     Austria  2021-01-08     Johnson&Johnson                   0
1     Austria  2021-01-08             Moderna                   0
2     Austria  2021-01-08  Oxford/AstraZeneca                   0
3     Austria  2021-01-08     Pfizer/BioNTech               30938
4     Austria  2021-01-15     Johnson&Johnson                   0
...       ...         ...                 ...                 ...
8633  Uruguay  2021-07-05     Pfizer/BioNTech             1024793
8634  Uruguay  2021-07-05             Sinovac             3045997
8635  Uruguay  2021-07-06  Oxford/AstraZeneca               43245
8636  Uruguay  2021-07-06     Pfizer/BioNTech             1038942
8637  Uruguay  2021-07-06             Sinovac             3079853

[8638 rows x 4 columns]

In [65]:
# type of vaccines
type_of_vaccine = data_file_df.groupby("vaccine")["total_vaccinations"].count()
vaccines_by_country = data_file_df.groupby("location")["total_vaccinations"].sum()
vaccines_by_country_df = pd.DataFrame({"Total no. of Vaccinations": vaccines_by_country})
type_of_vaccine
vaccines_by_country_df

               Total no. of Vaccinations
location
Austria                         80760868
Belgium                        106720683
Bulgaria                        19937138
Chile                         1927030254
Croatia                         26459294
Cyprus                           7398261
Czechia                        514787985
Denmark                         48812161
Estonia                         10152037
Finland                         46428753
France                        3439868197
Germany                       4646761432
Hungary                        114126346
Iceland                         24739623
Ireland                         43130261
Italy                         3247420655
Japan                         1493961912
Latvia                          67106019
Liechtenstein                     270484
Lithuania                      155492336
Luxembourg                       5375383
Malta                            7058939
Netherlands                    152252188
Poland                         308738674
Portugal                        80649414
Romania                        740387826
Slovakia                        39644704
Slovenia                        13298552
Spain                          379882979
Sweden                          77810649
Switzerland                    452876103
United States                29954179718
Uruguay                        245801666

In [ ]:
#